.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; // This centers the child div
  position: relative; // Ensures that this content is layered above the SVG
  z-index: 100;

  .profile-settings-container {
    background-color: rgba(255, 255, 255, 0.579);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 3rem;
    gap: 2rem;
    margin-top: -275px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 600px;
  }

  .profile-card-container {
    width: 100%; // Take up the full width
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 300px; // To overlap the header
    background: #fff; // Set the background to white
    border-radius: 5px;
    z-index: 100; // Ensure it's above the page background but below the fixed header
  }
  .back {
    position: absolute;
    top: 270px;
    right: 300px;
    cursor: pointer; // Change cursor to pointer for better UX
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px; // Add a gap between the icon and the text
    transition: transform 0.3s ease; // Smooth transition for scaling

    .back-text {
      font-size: 2rem; // Adjust font size as needed
      color: #2b0606;
      font-weight: bold; // Make the text bold for more appeal
      transition: transform 0.4s ease; // Smooth transition for scaling
    }

    &:hover {
      transform: scale(1.05); // Scale up on hover
    }

    &:hover .back-text {
      transform: scale(1.1); // Slightly larger scale on hover for text
      color: #ff6f61; // Change text color on hover for better effect
    }
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .profile-picture {
      border-radius: 50%;
      border: 3px solid #dedede;
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }

    .stats {
      list-style: none;
      padding: 0;
      width: 100%;
      text-align: left;

      li {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
      }
    }

    .view-profile-button,
    .update-button {
      width: 100%;
      margin-top: 10px;
      padding: 10px 0;
      background-color: #7b1c27;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .profile-link {
      width: 100%;
      margin-top: 10px;
      display: flex;

      input {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }
    }
  }

  .settings-container {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    .settings-tabs {
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin-bottom: 20px;
        border-bottom: 2px solid #dee2e6;

        li {
          padding: 10px 20px;
          cursor: pointer;
          margin-right: 10px;
          border-radius: 5px;
          user-select: none;

          &:hover {
            background-color: #f8f9fa;
          }
        }
      }

      .tab-content {
        padding: 20px;
      }
    }
  }
}

.custom-shape-divider-top-1714330091 {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 359px;
  }

  .shape-fill {
    fill: #7b291cd3;
  }
}
.card {
  width: 70%;
  height: 110px;
  margin-left: 15%;
  background: #fff;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 12px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.followerList {
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card_load {
  width: 90px;
  height: 90px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}

.card_load_extreme_title {
  flex: 1;
  border-radius: 5px;
  border-color: #c5541a;
  background-size: 90% 100%;
  background-position: 50% 0;
  animation: load89234 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 300px;
}

.card_load_extreme_descripion {
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(123, 28, 39);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
